// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

//================= helper classes ==================//
//================= Display classes
.d-none {
  display: none;
}
// flex properties
.d-flex {
  display: flex;
}
.flex-center {
  @include flex-center;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

//================= widths
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

//================== Heights
.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}

//=================== Font Weight
.fw-bolder {
  font-weight: 700;
}
.fw-normal {
  font-weight: 400;
}
.fw-bold {
  font-weight: 500;
}
.fw-lighter {
  font-weight: 200;
}

//================= text customization
.text-white {
  color: $White;
}

.text-nowrap {
  white-space: nowrap;
}

// Font Family
.font-primary {
  font-family: $font-primary;
}
.font-secondary {
  font-family: $font-secondary;
}

// ========================= CUSTOM CSS ========================== //

.main_wrapper {
  background-color: $secondary;
}
.container {
  height: 450px;
}

.desk-img {
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 10px 0 0 10px;
  img {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
  @media (max-width: 576px) {
    display: none;
  }
}
.mob-img {
  @media (max-width: 576px) {
    display: block;
    width: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      height: 300px;
    }
  }
}
// card
.card {
  background-color: $White;
  border-radius: 0 10px 10px 0;
  .perfume {
    color: $darkgrayisblue;
  }
  .title {
    color: $darkblue;
  }
  .description {
    color: $darkgrayisblue;
  }
  .offer_rate {
    color: $primary;
  }
  .rate {
    color: $darkgrayisblue;
  }
  @media (max-width: 576px) {
    width: 300px;
    border-radius: 0 0 10px 10px;
  }
}
.add_to_cart {
  border: 0;
  background-color: $primary;
  color: $White;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
    height: 700px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
