@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}
@mixin mx($value) {
  margin-left: $value;
  margin-right: $value;
}
@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
}
@mixin my($value) {
  margin-top: $value;
  margin-bottom: $value;
}
