// Colors
$primary: hsl(158, 36%, 37%);
$secondary: hsl(30, 38%, 92%);
$darkblue: hsl(212, 21%, 14%);
$darkgrayisblue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

// height
// font
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Fraunces", sans-serif;
