@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=League+Spartan:wght@200;400;500;600;700&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.fw-bolder {
  font-weight: 700;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 500;
}

.fw-lighter {
  font-weight: 200;
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

.text-nowrap {
  white-space: nowrap;
}

.font-primary {
  font-family: "Montserrat", sans-serif;
}

.font-secondary {
  font-family: "Fraunces", sans-serif;
}

.main_wrapper {
  background-color: hsl(30deg, 38%, 92%);
}

.container {
  height: 450px;
}

.desk-img {
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.desk-img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
@media (max-width: 576px) {
  .desk-img {
    display: none;
  }
}

@media (max-width: 576px) {
  .mob-img {
    display: block;
    width: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  .mob-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0 10px 10px 0;
}
.card .perfume {
  color: hsl(228deg, 12%, 48%);
}
.card .title {
  color: hsl(212deg, 21%, 14%);
}
.card .description {
  color: hsl(228deg, 12%, 48%);
}
.card .offer_rate {
  color: hsl(158deg, 36%, 37%);
}
.card .rate {
  color: hsl(228deg, 12%, 48%);
}
@media (max-width: 576px) {
  .card {
    width: 300px;
    border-radius: 0 0 10px 10px;
  }
}

.add_to_cart {
  border: 0;
  background-color: hsl(158deg, 36%, 37%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
    height: 700px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.p-0 {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.p-1 {
  padding: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-2 {
  padding: 10px;
}

.pt-2 {
  padding-top: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-3 {
  padding: 15px;
}

.pt-3 {
  padding-top: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-4 {
  padding: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-5 {
  padding: 30px;
}

.pt-5 {
  padding-top: 30px;
}

.pl-5 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 30px;
}

.pb-5 {
  padding-bottom: 30px;
}

.px-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-6 {
  padding: 40px;
}

.pt-6 {
  padding-top: 40px;
}

.pl-6 {
  padding-left: 40px;
}

.pr-6 {
  padding-right: 40px;
}

.pb-6 {
  padding-bottom: 40px;
}

.px-6 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-6 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-7 {
  padding: 50px;
}

.pt-7 {
  padding-top: 50px;
}

.pl-7 {
  padding-left: 50px;
}

.pr-7 {
  padding-right: 50px;
}

.pb-7 {
  padding-bottom: 50px;
}

.px-7 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-7 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-auto {
  padding: autopx;
}

.pt-auto {
  padding-top: autopx;
}

.pl-auto {
  padding-left: autopx;
}

.pr-auto {
  padding-right: autopx;
}

.pb-auto {
  padding-bottom: autopx;
}

.px-auto {
  padding-left: autopx;
  padding-right: autopx;
}

.py-auto {
  padding-top: autopx;
  padding-bottom: autopx;
}

.m-0 {
  padding: 0px;
}

.mt-0 {
  padding-top: 0px;
}

.ms-0 {
  padding-left: 0px;
}

.me-0 {
  padding-right: 0px;
}

.mb-0 {
  padding-bottom: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-1 {
  padding: 5px;
}

.mt-1 {
  padding-top: 5px;
}

.ms-1 {
  padding-left: 5px;
}

.me-1 {
  padding-right: 5px;
}

.mb-1 {
  padding-bottom: 5px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-2 {
  padding: 10px;
}

.mt-2 {
  padding-top: 10px;
}

.ms-2 {
  padding-left: 10px;
}

.me-2 {
  padding-right: 10px;
}

.mb-2 {
  padding-bottom: 10px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-3 {
  padding: 15px;
}

.mt-3 {
  padding-top: 15px;
}

.ms-3 {
  padding-left: 15px;
}

.me-3 {
  padding-right: 15px;
}

.mb-3 {
  padding-bottom: 15px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-4 {
  padding: 20px;
}

.mt-4 {
  padding-top: 20px;
}

.ms-4 {
  padding-left: 20px;
}

.me-4 {
  padding-right: 20px;
}

.mb-4 {
  padding-bottom: 20px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-5 {
  padding: 30px;
}

.mt-5 {
  padding-top: 30px;
}

.ms-5 {
  padding-left: 30px;
}

.me-5 {
  padding-right: 30px;
}

.mb-5 {
  padding-bottom: 30px;
}

.mx-5 {
  margin-left: 30px;
  margin-right: 30px;
}

.my-5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-6 {
  padding: 40px;
}

.mt-6 {
  padding-top: 40px;
}

.ms-6 {
  padding-left: 40px;
}

.me-6 {
  padding-right: 40px;
}

.mb-6 {
  padding-bottom: 40px;
}

.mx-6 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-6 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-7 {
  padding: 50px;
}

.mt-7 {
  padding-top: 50px;
}

.ms-7 {
  padding-left: 50px;
}

.me-7 {
  padding-right: 50px;
}

.mb-7 {
  padding-bottom: 50px;
}

.mx-7 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-7 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-auto {
  padding: autopx;
}

.mt-auto {
  padding-top: autopx;
}

.ms-auto {
  padding-left: autopx;
}

.me-auto {
  padding-right: autopx;
}

.mb-auto {
  padding-bottom: autopx;
}

.mx-auto {
  margin-left: autopx;
  margin-right: autopx;
}

.my-auto {
  margin-top: autopx;
  margin-bottom: autopx;
}

.fs-0 {
  font-size: 0px;
}

.fs-1 {
  font-size: 38px;
}

.fs-2 {
  font-size: 28px;
}

.fs-3 {
  font-size: 24px;
}

.fs-4 {
  font-size: 20px;
}

.fs-5 {
  font-size: 16px;
}

.fs-6 {
  font-size: 12px;
}

.fs-7 {
  font-size: 8px;
}

.fs-8 {
  font-size: 4px;
}

/*# sourceMappingURL=style.css.map */
